# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim
*.swp

# Emacs
\#*\#
*~

# clangd
.cache/
compile_commands.json

# MSVC
.vs/
/out*
CMakeSettings.json

# VS Code
.vscode/

# CLion
.idea/
build/
cmake-build*/

# Documentation source files
doc/

# Misc
.DS_Store
.cmake/
NOTES.txt
TODO.txt
Testing/
examples/_*.cpp
mat.txt
out.tmp
rho.mat
rho.txt
test

# pyqpp
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
pyqpp.egg-info/
__pycache__/
/uv.lock
