[submodule "qasmtools"]
	path = qasmtools
	url = https://github.com/softwareQinc/qasmtools.git
	branch = main
[submodule "unit_tests/lib/googletest"]
	path = unit_tests/lib/googletest
	url = https://github.com/softwareQinc/googletest.git
	branch = main
