# vim
*.swp
out.tmp

# Visual Studio
.vs/

# CLion
.idea/
build/
cmake-build*/

# Latex documentation source files
doc/latex/

# CMakeLists.txt should be un-changed, with examples/minimal.cpp as standard
# example
CMakeLists.txt
